.customers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    height: 92px;
    flex-basis: calc((100% - 30px * 1) / 2);

    @include mq(tablet) {
      flex-basis: calc((100% - 30px * 2) / 3);
    }

    @include mq(desktop) {
      flex-basis: calc((100% - 30px * 5) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border var(--transition);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      outline: 2px solid transparent;
    }
  }

  &__icon {
    display: block;
    fill: var(--icons-fill-color);
    transition: fill var(--transition);
    width: 100%;

    .customers__link:hover &,
    .customers__link:focus & {
      fill: var(--accent-color);
    }
  }
}
