.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;

  @include mq(desktop) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--black {
    /* in Header */
    color: var(--primary-black-color);
  }

  &--white {
    /* in Footer */
    color: var(--primary-white-color);
  }

  &--footer {
    display: inline-block;
    margin-bottom: 20px;
  }
}
