.page-header {
  border-bottom: 1px solid var(--header-border-bottom-color);

  /* Main nav */

  .nav {
    &__container {
      display: flex;
      align-items: center;

      @include mq(mobile-only) {
        height: 60px;
      }
    }

    &__main-nav {
      display: flex;
      align-items: center;
    }

    &__hamburger-menu {
      display: flex;
      padding: 0;
      border: none;
      background-color: transparent;
      margin-left: auto;
      transition: fill var(--transition), transform var(--transition);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }

      &:active {
        transform: rotate(180deg);
      }

      @include mq(tablet) {
        display: none;
      }
    }
  }

  /* Site nav */

  .site-nav {
    display: none;

    @include mq(tablet) {
      display: flex;
      gap: 50px;
      margin-left: 85px;
    }

    @include mq(desktop) {
      margin-left: 90px;
    }

    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      padding: 32px 3px;
      transition: color var(--transition);
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &.current {
        position: relative;
        color: var(--accent-color);

        &::after {
          content: '';
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: var(--accent-color);
        }
      }
    }
  }

  /* Contacts nav */

  .contacts-nav {
    @include mq(mobile-only) {
      display: none;
    }

    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }

    @include mq(desktop) {
      flex-direction: row;
      gap: 30px;
    }

    &__link {
      @include mq(tablet) {
        font-size: 12px;
        line-height: calc(14 / 12);
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: color var(--transition);
        color: var(--secondary-text-color);
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
      }

      @include mq(desktop) {
        font-size: 14px;
        line-height: calc(16 / 14);
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }

    &__icon {
      fill: currentColor;
      margin-right: 10px;

      @include mq(tablet-only) {
        &.envelope {
          width: 14px;
          height: 10px;
        }
        &.smartphone {
          height: 14px;
        }
      }
    }

    &__link,
    &__icon {
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}
