/* Filter buttons */

.projects-section {
  @include mq(not-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.filters {
  display: flex;
  gap: 12px 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include mq(mobile-only) {
    width: 326px;
  }

  @include mq(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 50px;
  }

  &__button {
    padding: 6px 22px;
    border-style: none;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition),
      box-shadow var(--transition);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

/* Projects */

.portfolio {
  display: flex;
  gap: 30px 0;
  flex-wrap: wrap;

  @include mq(tablet) {
    gap: 30px;
  }

  &__card {
    width: 450px;

    @include mq(tablet) {
      width: 354px;
    }

    @include mq(desktop) {
      width: 370px;
    }
  }

  &__content {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border-color);
    border-top: none;
    background-color: var(--primary-white-color);
    flex-grow: 1;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__item {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: calc(30 / 16);
  }

  &__link {
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--transition);
    text-decoration: none;
    color: inherit;
    height: 100%;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__top-wrap {
    position: relative;
    overflow: hidden;
  }

  &__top-text {
    position: absolute;
    margin: 0;
    top: 0;
    height: 100%;
    transform: translateY(101%);
    transition: transform var(--transition);
    overflow: auto;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 77px 24px;

    @include mq(tablet) {
      padding-top: 49px;
      padding-bottom: 49px;
    }

    @include mq(desktop) {
      padding-top: 63px;
      padding-bottom: 63px;
    }

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0);
    }
  }

  img {
    max-height: 294px;

    @include mq(mobile) {
      width: 450px;
    }
    @include mq(tablet) {
      width: 354px;
    }
    @include mq(desktop) {
      width: 370px;
    }
  }
}
