.social-networks {
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    height: 44px;
    width: 44px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: background-color var(--transition);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    &--graybg {
      /* in Footer */
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__icon {
    fill: var(--icons-fill-color);
    transition: fill var(--transition);

    .social-networks__link:hover &,
    .social-networks__link:focus & {
      fill: var(--primary-white-color);
    }

    &--whitefill {
      /* in Footer */
      fill: var(--primary-white-color);
    }
  }

  &__title {
    /* in Footer */
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--primary-white-color);

    @include mq(not-desktop) {
      text-align: center;
    }
  }
}
